# To fetch Movies
MOVIE_API_KEY=YOUR_MOVIE_API_KEY

# Optional (Not Required for Algorithm and Not in use anymore)
APPWRITE_PROJECT_ID=YOUR_APPWRITE_PROJECT_ID
APPWRITE_DATABASE_ID=YOUR_APPWRITE_DATABASE_ID
APPWRITE_COLLECTION_ID=YOUR_APPWRITE_COLLECTION_ID

# Mandatory for Algorithm
SUPABASE_PROJECT_URL=YOUR_SUPABASE_PROJECT_URL
SUPABASE_API_KEY=YOUR_SUPABASE_API_KEY
SUPABASE_URI=YOUR_SUPABASE_URI